---
layout: page
description: "Java and DevOps; using Kubernetes, Terraform, and Spring"
---

<div class="home-intro">
    <p class="home-kicker">Latest writing</p>
</div>

{% for post in paginator.posts %}
<article class="post-preview post-summary">
    <a class="post-summary-link" href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    </p>
    <p class="post-excerpt">
        {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 42 }}
    </p>
    <a class="post-read-more" href="{{ post.url | prepend: site.baseurl }}">Read post</a>
</article>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
