.active {
    background-color: #dff0d8 !important;
}

.month-button {
    /*width: 50px;*/
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.errors {
    color: red;
}

.form-group label {
    padding-left: 10px;
}