---
layout: default
---

<!-- Page Header -->
<!--[if (gt IE 8)|!(IE)]><!-->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
<!--<![endif]-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    {% if page.title %}
                    <h1>{{ page.title }}</h1>
                    {% else %}
                    <!--<a class="quote-link" target="_blank" href="http://quoteinvestigator.com/2011/05/13/einstein-simple/">-->
                        <h1>bit1.uk</h1>
                    <!--</a>-->
                    {% endif %}
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
<!--[if (gt IE 8)|!(IE)]><!-->
</header>
<!--<![endif]-->

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
